#nav-grid {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    
}
nav {
    border: 5px solid black;
    flex: ;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 0;
}
#grid {
   border: 5px solid red;
   width: 450px;
   height: 450px;
   
}
.one-grid {
    border: 3px blue dotted;
   width: 45px;
    height: 45px; 
}
#slider {
    display: flex;
    justify-content: center;
}

.grid-boxes {
    height: 25px;
    width: 25px;
    border: 5px dotted forestgreen;
}