* {
    margin: 0;
    padding: 0;

}

#nav-grid {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    
}
nav {
    border: 5px solid black;
    flex: ;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 0;
}
#grid {
   border: 5px solid red;
   width: 450px;
   height: 450px;

   
}

#slider {
    display: flex;
    justify-content: center;
}


#row-divs {
    width: 450px;
    display: flex;
}

.grid-divs {
    
}
/* need to update grid-boxes
    // use flex to create rows for the grid
    // use flex to allow the grid to wrap around
    // 