* {
    margin: 0;
    padding: 0;

}

#nav-grid {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    
}
nav {
    border: 5px solid black;
    flex: ;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 0;
}
#grid {
   border: 5px solid red;
   width: 450px;
   height: 450px;
   display: flex;
   flex-wrap: wrap;
   
}

#slider {
    display: flex;
    justify-content: center;
}

.grid-boxes {
    outline: 5px dotted forestgreen;
    height: 45px;
    width: 45px;
}

#row-divs {
    outline: 5px dotted blue;
    height: 25px;
    width: 25px;
}
/* need to update grid-boxes
    // use flex to create rows for the grid
    // use flex to allow the grid to wrap around
    // 